@{ Layout = "layout/main.cshtml"; }

<div class="row">
    <div class="col-md-12">
        <div class="box box-solid box-primary">
            <div class="box-header">
                <h3 class="box-title"><i class="fa fa-money"></i> Donate Sparkpool</h3>
            </div>
            <div class="box-body no-padding">
                <div class="callout callout-info">
                    
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="box box-solid box-danger">
            <div class="box-header">
                <h3 class="box-title"><i class="fa fa-bitcoin"></i> Directly send crypto currencies</h3>
            </div>
            <div class="box-body">
                You can directly donate to our following address;<br /><br />
                <ul>
                	 <li>Ethereum: <a href="ethereum:0xE095327C3E0d8e92A5870772aBC40163F2BBD956?label=CoiniumServ%20Donation"><code>0xE095327C3E0d8e92A5870772aBC40163F2BBD956</code></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
